@import '../../styles/theme.scss';

.contactHeader{
    h2{
        text-align: center;
        font-size: 3rem;
        font-family: $main-font;
    }
    p{
        text-align: center;
    }
}

.contactPage{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: center;

    div{
        p{
            display: inline-block;
        }
        b{
            display: inline-block;
        }
        img{
            width: 80%;
        }

        div{
            b{
                display: block;
            }
        }
    }
}

.contactForm{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    input{
        display: block;
        width: 80%;
        height: 22px;
    }
    input:nth-child(6){
        height: 10vh;
    }

    input:nth-child(7){
        width: 25%;
        height: 22px;
    }
}