@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$main-color: #688aa5;
$main-font: "Lobster",cursive;
$margin: 8px;
$padding: 8px;

$theme-dark: rgb(52,58,52);
$theme-light: rgb(246,246,246);

$theme-color: rgb(120,120,235);
$theme-color-light: rgb(150,150,250);
$theme-color-dark: rgb(60, 80, 140);

$alert-green: rgb(50,210,50);
$alert-green-dark: rgb(20,180,20);
$alert-red: rgb(200,40,40);
$alert-red-dark: rgb(180,36,36);

$font-color-light: white;
$font-color-dark: black;

$margin: 8px;
$padding: 4px;

$font-size-s: 0.9rem;
$font-size-m: 1.1rem;
$font-size-l: 1.3rem;