.commentInput{
    div{
        width: 100%;
        background-color: rgb(230,230,230);
        h3{
            font-size: 2rem;
        }
    }

    form{
        display: grid;
        grid-template-columns: 0.3fr 0.7fr 0.1fr;
        width: 100%;
        display: grid;
        input{
            width: 100%;
            margin:auto;
            height: 40px;
        }
    }
    
}

.comment{
    display: grid;
    background-color: rgb(230,230,230);
    margin: 5%;
    padding: 2%;

    button{
        width: 15%;
        height: 30px;
    }
}