.newsletter {
    margin-top: 20px;
    background-image: url('../../Assets/images/newsletterbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    padding: 100px 0px;

    h2 {
        color: #fff;
        font-family: 'Lobster';
        font-size: 2rem;
    }

    input[type=email] {
        padding: 10px;
        width: 80%;
        font-size: 0.8rem;
        background-image: url('../../Assets/images/icons/mail-icon.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 35px 35px;
        border: 0px none;
        padding-left: 50px;
    }

    button {
        background-color: #617685;
        padding: 10px 20px;
        border: 0px none;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
}