.productNav{
    margin-left: 10%;
    display: inline-grid;
    height: 20vh;
    grid-template-rows: auto;
    vertical-align: top;
    a{
        direction: rtl;
        text-decoration: none;
        color:black;
        display: block;
        padding: 8px;
    }
}