@import "../../styles/theme.scss";

.loginform{
    width: 40%;
    margin-left: 10%;
    margin: 5%;
    margin-bottom: 25%;
    h4{
        text-align: start;
        margin-top:$margin;
        margin-bottom: $margin;
        font-size: 1.5rem;
    }
    label{
        display:block;
        font-weight: 500;
    }

    span{
        display: inline-block;
        color: $alert-red;
    }
    input{
        width: 85%;
        display: block;
        height: auto;
        padding: 10px 24px;
        border-radius: 4px;
        text-align: left;
        text-decoration: none;
        margin:$margin;
        transition: all 0.2s ease;
        outline:none;
        border: solid 1px $theme-color;
    }
    input:focus{
        outline: none;
        border: solid 1px $theme-color-dark;
    }

    button{
        width:auto;
        height:40px;
        float:right;
        border:none;
        font-size: 1rem;
        padding: 6px 32px;
        color:white;
        border-radius: 4px;
        transition: all 0.4s ease;
        outline: none;
    }
    .loginbtn{
        background-color: $alert-green;
    }
    .loginbtn:hover{
        background-color: $alert-green-dark;
    }
    .logoutbtn{
        background-color: $alert-red;
    }
    .logoutbtn:hover{
        background-color: $alert-red-dark;
    }
    button:hover{
        background-color: $theme-color-dark;
    }
}

.red{
    border: solid 1px $alert-red;
}

.green{
    border: solid 1px $alert-green;
}

.required{
    color:red;
    font-size: 1.2rem;
    opacity: 1;
}

.reqhidden{
    font-size: 1.2rem;
    opacity: 0;
}

@media screen and (max-width: 992px) {
    .loginform{
        margin-top:25%;
        width:85%;
        margin-bottom:75%;
    }
}