@import '../../../Assets/scss/helpers.scss';

$bgcolor: black;
$txcolor: white;
$hvcolor: #333;

.navbar {
	background-color: $bgcolor;

	ul {
		@include reset;
		list-style-type: none;

		a {
			display: block;
			color: $txcolor;
			text-decoration: none;
		}
	}

	> ul {

		> li {
			display: inline-block;
			&:hover {
				background-color: $hvcolor;
				color: $txcolor;
			}

			> a {
				padding: 5px 10px;
			}

			ul {
				display: none;
				background-color: $hvcolor;
				list-style-type: none;

				li {
					a {
						padding: 10px
					}
				}
			}

			&:hover ul {
				display: block;
				position: absolute
			}

		}
	}
}