.navbar {
	border: solid 1px #000;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			a {
				display: block;
				padding: 10px 20px;
				text-decoration: none;
				color: #000;
				&:hover {
					background-color: black;
					color: white;
				}
			}
		}
	}

}