.productdetails {
    grid-template-columns: 8fr 4fr;       

    article {
        padding-right: 10px;
        div {
            white-space: pre-wrap;            
        }
    }

    h4 {
        margin: 0px;
        text-transform: uppercase;
        font-size: 1.4rem;
    }

    figure {
        margin-left: 0px;
    }

    img {
        width: 100%;
        max-width: 240px;
    }

    aside {
        padding-left: 15px;
        p {
            margin-top: 0px;
        }

        div {
            text-align: center;
            padding: 5px 0px;
            margin-bottom: 5px;
            font-size: 0.7rem;
            background-color: #fff;
        }
    }
}