.logo {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 2rem;
    margin: 0px 30px
}

.navbar {
    position: absolute;
    z-index: 10;
    width: 100%;
    margin-top: 1%;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: #fff;
                font-size: 0.8rem;
                margin: 0px 10px 0px 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar li {
        display: none;
    } 
}
