.product{
    width: 65%;
    display: inline-grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-left: 5%;
    vertical-align: top;

    h2{
        font-size: 2rem;
        margin-top:0;
    }

    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    aside{
        div{
            background-color: rgb(245,245,245);
            height: 30px;
            p{
                padding: 6px;
            }
        }
    }
}