@import '../../../App.scss';

.productnav {
}

.categories {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
        cursor: pointer;
        text-decoration: none;
        font-size: 1.1rem;
        margin-bottom: 5px;

        a {
            text-decoration: none;
            color: $color-dark;
        }

        &:hover {
            color: $color-blue;
        }
    }
}
