$col-brown: #806a60;
$col-blue: #738699;
$col-green: #969973;
$col-red: #bfa59d;

.box {
    img {
        width: 20%;
    }
}

.box-brown {
    background-color: $col-brown;
}

.box-blue {
    background-color: $col-blue;
}

.box-green {
    background-color: $col-green;
}

.box-red {
    background-color: $col-red;
}