@import '../../styles/theme.scss';

.news{
    text-align: center;
    
    h2{
        font-family: $main-font;
        font-size: 2em;
    }

    p{
        margin-bottom: 5%;
    }

    .newsGrid{
        width: 80%;
        margin:auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: flex-start;

        div{
            width: 75%;
        }

        img{
            border-radius: 50%;
            width: 60%;
        }

    }
}