@import '../../styles/theme.scss';

.productHeader{
    width: 75%;
    margin:auto;
    h2{
        font-size: 3rem;
        font-family: $main-font;
    }
    text-align: center;
    margin-bottom: 5%;
}

.productContainer{
    width: 75%;
    margin:auto;
    margin-bottom: 5%;
}