@import '../../styles/theme.scss';

.slide{
    h3{
        width: 50%;
        font-size: 5em;
        position: absolute;
        text-align: center;
        font-family: $main-font;
        color: #fff;
        transform: translateX(100%);
        margin: 12.5% 0 0 -25%;
        text-shadow: 1px 1px #000000;
    }
}