@import "../../../Assets/scss/bundles.scss";

nav {
  ul {
    @include clear-list;
    @include flex;
    border-bottom: solid 1px $primary-color;

    a {
      display: block;
      padding: 0.5rem;
      text-decoration: none;
      color: $primary-color;
      &:hover {
        color: $hvcolor;
        background-color: #ccc;
      }
      &.active {
        color: $hvcolor !important;
      }
  
    }
}
}
