.news {
    display: flex;
    justify-content: space-between;

    article {
        width: 30%;
    }

    img {
        max-width: 150px;
        border-radius: 50%;
    }

    h4 {
        text-transform: uppercase;
    }
}